@model IEnumerable<EmpAge.Models.Proposal>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Предложения";
    int incomingCounter = 1;
    int outgoingCounter = 1;
}

<div class="container">
    <h1>Предложения</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Входящие</h3>
        </div>
        <div class="col-md-6">
            <h3>Исходящие</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @foreach (var proposal in Model)
            {
                @if (proposal.RecipientId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <small>@proposal.CreateTime</small>
                    <div class="row">
                        <div class="col-md-8">
                            <p>@incomingCounter . @proposal.Message</p>
                        </div>
                        @{incomingCounter++;}
                        <div class="col-md-2">
                            @if (User.IsInRole("employer"))
                            {
                                <a class="btn btn-info" asp-controller="Summaries"
                                   asp-action="Details" asp-route-id="@proposal.RecordId">Резюме</a>
                            }
                            else
                            {
                                <a class="btn btn-info" asp-controller="Vacancies"
                                   asp-action="Details" asp-route-id="@proposal.RecordId">Вакансия</a>
                            }
                        </div>
                        <div class="col-md-2">
                            <form method="post" asp-controller="Proposal"
                                  asp-action="Delete" asp-route-id="@proposal.Id">
                                <input type="submit" class="btn btn-danger" value="Удалить" />
                            </form>
                        </div>
                    </div>
                }
            }
            @if(incomingCounter == 1)
            {
                <h3>Входящих предложений нет</h3>
            }
        </div>
        <div class="col-md-6">
                @foreach (var proposal in Model)
                {
                    @if (proposal.SenderId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <small>@proposal.CreateTime</small>
                            <div class="row">
                                <div class="col-md-8">
                                    <p>@outgoingCounter . @proposal.Message</p>
                                    @{outgoingCounter++;}
                                </div>
                                <div class="col-md-2">
                                    @if (User.IsInRole("employer"))
                                    {
                                        <a class="btn btn-info" asp-controller="Vacancies"
                                           asp-action="Details" asp-route-id="@proposal.RecordId">Вакансия</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-info" asp-controller="Summaries"
                                           asp-action="Details" asp-route-id="@proposal.RecordId">Резюме</a>
                                    }
                                </div>
                                <div class="col-md-2">
                                    <form method="post" asp-controller="Proposal"
                                          asp-action="Delete" asp-route-id="@proposal.Id">
                                        <input type="submit" class="btn btn-danger" value="Удалить" />
                                    </form>
                                </div>
                            </div>
                    }
                }
                @if(outgoingCounter == 1)
                {
                    <h3>Исходящих предложений нет</h3>
                }
        </div>
    </div>
</div>

